In [2]:
import pandas as pd 
import numpy as np
import os

In [3]:
df = pd.read_excel('data/Jan/JAN_2024_ADAMS_report.xlsx')

In [4]:
df.head()

        Date          Name CHECK IN TIME CHECK OUT TIME
0 2024-01-01  Mercy Mutuku       Holiday        Holiday
1        NaT   Steve Kanyi       Holiday        Holiday
2        NaT           NaN           NaN            NaN
3 2024-01-02  Mercy Mutuku         08:25          17:31
4        NaT   Steve Kanyi             _              _

In [8]:
# Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Filter the DataFrame to only include rows up to February 29, 2024
df = df[df['Date'] <= '2024-02-29']

# Generate a date range for February 2024
dates = pd.date_range(start='2024-02-01', end='2024-02-29')

# Replace the 'Date' column with the new date range
df['Date'] = dates[:len(df)]

/var/folders/tv/lq8c2cb553sbrv2cq02t2fhw0000gn/T/ipykernel_91487/1076648625.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = dates[:len(df)]

In [9]:
df.head(100)

         Date          Name CHECK IN TIME CHECK OUT TIME
0  2024-02-01  Mercy Mutuku       Holiday        Holiday
3  2024-02-02  Mercy Mutuku         08:25          17:31
6  2024-02-03  Mercy Mutuku         08:43          18:16
9  2024-02-04  Mercy Mutuku         08:56          18:19
12 2024-02-05  Mercy Mutuku         09:06          18:37
15 2024-02-06  Mercy Mutuku         09:05          14:06
18 2024-02-07  Mercy Mutuku         09:09          18:19
21 2024-02-08  Mercy Mutuku         18:04              _
24 2024-02-09  Mercy Mutuku         09:21          18:14
27 2024-02-10  Mercy Mutuku         09:10          19:05
30 2024-02-11  Mercy Mutuku         09:22          18:27
33 2024-02-12  Mercy Mutuku         09:23          14:14
36 2024-02-13  Mercy Mutuku         09:17          18:29
39 2024-02-14  Mercy Mutuku         09:00          18:21
42 2024-02-15  Mercy Mutuku         09:34          18:57
45 2024-02-16  Mercy Mutuku         09:12          18:32
48 2024-02-17  Mercy Mutuku         09:13          18:13
51 2024-02-18  Mercy Mutuku         09:03          14:51
54 2024-02-19  Mercy Mutuku         09:18          18:20
57 2024-02-20  Mercy Mutuku         09:17          18:33
60 2024-02-21  Mercy Mutuku         09:09          18:46
63 2024-02-22  Mercy Mutuku         09:26          18:42
66 2024-02-23  Mercy Mutuku         09:04          18:42
69 2024-02-24  Mercy Mutuku         09:09          14:31
72 2024-02-25  Mercy Mutuku         09:10          18:31
75 2024-02-26  Mercy Mutuku         09:17          18:04
78 2024-02-27  Mercy Mutuku         08:56          18:09

In [15]:
#check if steve exists in the data
steve = df[df['Name'] == 'Steve Kanyi']
print(steve)

Empty DataFrame
Columns: [Date, Name, CHECK IN TIME, CHECK OUT TIME]
Index: []